# Supabase Configuration
# Remplacer ces valeurs par celles de votre projet Supabase (Project Settings > API)
EXPO_PUBLIC_SUPABASE_URL=https://gealgvgsnhskyrbbnxay.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdlYWxndmdzbmhza3lyYmJueGF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MjM2NzEsImV4cCI6MjA5NjQ5OTY3MX0.Cx7HazV2sW85bKBFYiML4RcaXPDoWpcMBH8Xp8oU7Vc

# Mapbox Configuration
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_public_token_here
