@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primitives & Sémantiques - Mode Light */
  --bg-canvas: #efefef;
  --bg-surface: #ffffff;
  --bg-surface-secondary: #dcdcdc;
  --bg-brand: #eb490b;
  --bg-brand-hover: #c3350b;
  --bg-brand-subtle: #fff6ed;
  --bg-disabled: #bdbdbd;

  --text-primary: #292929;
  --text-secondary: #525252;
  --text-tertiary: #7c7c7c;
  --text-brand: #eb490b;
  --text-on-brand: #ffffff;
  --text-disabled: #7c7c7c;

  --border-default: #bdbdbd;
  --border-light: #dcdcdc;
  --border-strong: #989898;
  --border-focus: #fa6415;
  --border-disabled: #bdbdbd;

  --status-bg-error: #bc4749;
  --status-bg-error-subtle: #fdf4f4;
  --status-text-error: #6f2022;

  --status-bg-success: #386641;
  --status-bg-success-subtle: #f2f6f3;
  --status-text-success: #1e3522;

  --status-bg-warning: #b07d06;
  --status-bg-warning-subtle: #fdfaf2;
  --status-text-warning: #664600;

  --status-bg-info: #457b9d;
  --status-bg-info-subtle: #f1f5f7;
  --status-text-info: #1d3557;
}

.dark {
  /* Primitives & Sémantiques - Mode Dark */
  --bg-canvas: #292929;
  --bg-surface: #1b1b1b;
  --bg-surface-secondary: #3d3d3d;
  --bg-brand: #fa6415;
  --bg-brand-hover: #fc863b;
  --bg-brand-subtle: #431007;
  --bg-disabled: #3d3d3d;

  --text-primary: #efefef;
  --text-secondary: #989898;
  --text-tertiary: #525252;
  --text-brand: #fc863b;
  --text-on-brand: #1b1b1b;
  --text-disabled: #525252;

  --border-default: #3d3d3d;
  --border-light: #525252;
  --border-strong: #464646;
  --border-focus: #fc863b;
  --border-disabled: #3d3d3d;

  --status-bg-error: #e07a5f;
  --status-bg-error-subtle: #260b0c;
  --status-text-error: #f3c6c6;

  --status-bg-success: #6a994e;
  --status-bg-success-subtle: #0d1f11;
  --status-text-success: #c8dbc5;

  --status-bg-warning: #e9c46a;
  --status-bg-warning-subtle: #241800;
  --status-text-warning: #f4e2b0;

  --status-bg-info: #98c1d9;
  --status-bg-info-subtle: #0a192f;
  --status-text-info: #d0e1ec;
}
